.THIS {
}
.THIS .removeProductButton{
    background-color: red;
    color: white;
    margin-top: 20px;
    width: 24px;
    height: 25px;
    border-radius: 13px;
}
.THIS .alignItems{
    margin-top: 20px;
}
.THIS .colwidth{
    width: 12%;
}
.THIS .colwidth2{
    width: 10%;
}